@charset "UTF-8";


@font-face {
    font-family: 'solo';
    src: url('fonts/soloistlaser1.ttf') format('truetype');
}

@font-face{
    font-family: 'solo1';
    src: url('fonts/soloist3d.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;

}


body{
   
    background-image: url('imagens/teste03.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}


main{
    background-color: #caf3ded8;
    max-width: 60vw;
    box-shadow: 10px 10px 06px  #0c7c4094 ;
    text-shadow: 2px 2px 1px #011309;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
 
    

}

    

main  h1{
    font-family: 'solo';
    font-weight: normal;
    color: rgb(29, 219, 76);
    font-size: 2em;
    padding: 10px;

}

main  h2{
    font-family: 'solo1', cursive;
    color:  rgb(17, 138, 47);
    font-weight: normal;
    padding: 15px;
}

main h3{
    color: rgb(29, 219, 76);
    font-weight: normal;
}



main  div#ul{
    font-family: 'solo', cursive;
    color:  rgb(32, 30, 30);
    font-weight: normal;
    padding: 15px;
    line-height: 2em;
    text-align:  left;
    margin-left: 250px; 

}

main div.cima{
    width: 300px;
    height: 200px;
    display: inline-block;
    padding-top: 60px;
    margin-right: 20px;
}

main div.baixo{    
    width: 300px;
    height: 200px;
    display: inline-block;
    padding-top: 20px;
    margin-right: 20px;
}



main  a{
    text-decoration: none;
}


main > p{
    text-align: center;
    font-family: 'solo', cursive;
    font-style: normal;
    color:  #07753a;
    padding: 15px;

}




